html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.loginform{
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: #fff;
  height: 20%;
  width: 20%;
}
.logininput{
  justify-self: center;
  align-self: center;
  border: 2px solid #f00;
  height: 50%;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  outline: none;
  font-weight: 600;
}
.loginbtn{
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  border: 3px solid #000;
  background: #43ff43;
  height: 60%;
  width: 40%;
  cursor: pointer;
}
.sticky {
  position: sticky;
  top: 0;
}
.navbar {
  width: 100%;
  height: 5%;
  position: fixed;
  top: 0;
  background: #422a64;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
.leftnav {
  color: white;
  align-self: center;
  font-size: 25px;
  font-weight: 600;
  margin-left: 2%;
  width: max-content;
}
.rightnav {
  color: white;
  align-self: center;
  justify-self: end;
  font-size: 18px;
  letter-spacing: 1px;
  margin-right: 5%;
  padding: 0.5% 1.5%;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.rightnav:hover {
  background: #6a489b;
}
.dropdown {
  position: fixed;
  height: 15%;
  width: 8%;
  top: 5%;
  right: 1%;
  background: #fff;
  border: 2px solid black;
  border-radius: 4%;
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
}
.passwordchange {
  border-bottom: 1px solid aqua;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}
.passwordchange:hover {
  background: #422a64;
  color: white;
}
.uploaddata {
  border-bottom: 1px solid aqua;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}
.uploaddata:hover {
  background: #422a64;
  color: white;
}
.backupdatabase {
  border-bottom: 1px solid aqua;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}
.backupdatabase:hover {
  background: #422a64;
  color: white;
}
.logout {
  border-bottom: 1px solid aqua;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}
.logout:hover {
  background: #422a64;
  color: white;
}
.dbdownloadcontainer {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000070;
  justify-content: center;
  align-items: center;
}
.dbdownloadform {
  position: fixed;
  display: grid;
  grid-template-rows: 30% 70%;
  height: 20%;
  width: 30%;
  background-color: white;
}
.dbdownloadtitle {
  font-size: 30px;
  font-weight: 600;
  align-self: center;
  justify-self: center;
  height: 100%;
}
.dbdownloadlink {
  align-self: center;
  justify-self: center;
}
.dbdownloadbtn {
  align-self: center;
  justify-self: center;
}
.dbdownloadclose {
  position: fixed;
  top: 40%;
  right: 35%;
  height: 4%;
}
.dbdownloadclose img {
  height: 100%;
  cursor: pointer;
}
.notificationon {
  position: fixed;
  top: 6%;
  right: 0%;
  height: 5%;
  width: 10%;
  background: #1593ff;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  transition: 0.2s;
}
.notificationon img {
  height: 90%;
  width: 90%;
  align-self: center;
  justify-self: center;
}
.notification {
  position: fixed;
  top: 6%;
  right: -10%;
  height: 5%;
  width: 10%;
  background: #1593ff;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  transition: 0.2s;
}
.notification img {
  height: 90%;
  width: 90%;
  align-self: center;
  justify-self: center;
}
.notititle {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  align-self: center;
}
.submitandavailableidcontainer {
  height: 90%;
  width: 18%;
  display: inline-block;
  position: fixed;
  left: 2%;
  top: 6%;
}
.submitidformcontainer {
  width: 100%;
  height: 40%;
  background: linear-gradient(
    180deg,
    rgba(24, 19, 111, 1) 0%,
    rgba(33, 33, 194, 1) 53%,
    rgba(24, 216, 255, 1) 100%
  );
  margin-bottom: 1%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 14% 14% 14% 14% 12% 12% 20%;
}
.inputname::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.7; /* Firefox */
}
.inputmobile::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.7; /* Firefox */
}
.inputzone::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.7; /* Firefox */
}
.inputamount::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 0.7; /* Firefox */
}
.inputname {
  height: 60%;
  width: 70%;
  align-self: center;
  justify-self: center;
  background: none;
  border: none;
  border-bottom: 3px solid lawngreen;
  text-align: center;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.inputmobile {
  height: 60%;
  width: 70%;
  align-self: center;
  justify-self: center;
  background: none;
  border: none;
  border-bottom: 3px solid lawngreen;
  text-align: center;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.inputzone {
  height: 60%;
  width: 70%;
  align-self: center;
  justify-self: center;
  background: none;
  border: none;
  border-bottom: 3px solid lawngreen;
  text-align: center;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.inputamount {
  height: 60%;
  width: 70%;
  align-self: center;
  justify-self: center;
  background: none;
  border: none;
  border-bottom: 3px solid lawngreen;
  text-align: center;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.inputpaid {
  position: relative;
  height: 70%;
  width: 50%;
  background: #c6c6c6;
  -webkit-appearance: none;
  outline: none;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
.inputpaid:checked {
  background: #03a9f4;
}
.inputpaid:before {
  content: "DUE";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  transition: 0.5s;
}
.inputpaid:checked:before {
  left: 50%;
  content: "PAID";
}
.sendsms {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
  color: white;
  font-weight: 600;
  font-size: 25px;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
}
.inputsms {
  height: 50%;
  width: 16%;
  align-self: center;
  justify-self: right;
}
.sendsmstitle {
  color: white;
  font-weight: 600;
  font-size: 25px;
  align-self: center;
  justify-self: left;
}
.sendbtn {
  padding: 1% 3%;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  background-color: #5bff00;
  color: black;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}
.availableidcontainer {
  width: 100%;
  height: 60%;
  background-color: #f1f1ff;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}
.availableidcontainer::-webkit-scrollbar {
  width: 5px;
}
.availableidcontainer::-webkit-scrollbar-track {
  background: #f1f1ff;
}
.availableidcontainer::-webkit-scrollbar-thumb {
  background: #888;
}
.availableidcontainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.availableidhead {
  height: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
  background-color: lawngreen;
}
.availableidheadtitle {
  margin-left: 5%;
  font-size: 20px;
  font-weight: 600;
}
.availableidhead2 {
  height: 5%;
  width: 100%;
  background-color: #422a64;
  display: grid;
  grid-template-columns: 16% 37% 37% 10%;
  grid-template-rows: 100%;
  align-items: center;
  color: wheat;
  font-weight: 600;
  font-size: 20px;
  justify-items: center;
  border-bottom: 1px solid white;
}
.availableidlist {
  height: 5%;
  width: 100%;
}
.availableidcol {
  height: 100%;
  width: 100%;
  background-color: #e3d8ff;
  display: grid;
  grid-template-columns: 16% 37% 37% 10%;
  grid-template-rows: 100%;
  border-bottom: 1px solid white;
}
.availableidcolgrid {
  justify-self: center;
  align-self: center;
  text-align: center;
}
.availableidcolgridimg {
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
.availableidcolgridimg img {
  height: 80%;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
.cashandduesalescontainer {
  width: 77%;
  height: 90%;
  display: inline-block;
  position: fixed;
  right: 2%;
  top: 6%;
}
.cashsales {
  width: 100%;
  height: 49%;
  background-color: #e2ffde;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
}
.cashsales::-webkit-scrollbar {
  width: 5px;
}
.cashsales::-webkit-scrollbar-track {
  background: #f1f1ff;
}
.cashsales::-webkit-scrollbar-thumb {
  background: #888;
}
.cashsales::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cashsalesidhead {
  height: 8%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  align-items: center;
  background-color: lawngreen;
}
.cashfrom {
  width: max-content;
  margin-left: 30%;
}
.cashto {
  width: max-content;
  margin-left: 30%;
}
.cashsalesidheadtitle {
  font-size: 20px;
  font-weight: 600;
  width: max-content;
  margin-left: 10%;
}
.cashsalesidsearch {
  border: none;
  width: 50%;
  height: 65%;
  background-color: #7cfc00;
  outline: none;
  color: black;
  border-bottom: 2px solid white;
  text-align: center;
  margin-left: 55%;
}
.cashsalesidsearch::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 0.9; /* Firefox */
}
.cashexportbtn {
  background: white;
  width: max-content;
  padding: 2% 8%;
  font-weight: 600;
  margin-left: 55%;
}
.cashsalesidhead2 {
  height: 7%;
  width: 100%;
  background-color: #e3dfed;
  display: grid;
  grid-template-columns: 4% 14% 11% 9% 9% 19% 18% 6% 10%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid white;
  background-color: #422a64;
  font-weight: 600;
  color: white;
  font-size: 20px;
}
.cashsalesidlist {
  height: 7%;
  width: 100%;
}
.cashsalesidcol {
  height: 100%;
  width: 100%;
  background-color: #e3d8ff;
  display: grid;
  grid-template-columns: 4% 14% 11% 9% 9% 19% 18% 6% 10%;
  grid-template-rows: 100%;
  border-bottom: 1px solid white;
}
.cashsalesidcolgrid {
  justify-self: center;
  align-self: center;
}
.cashsalesidcolgridimg {
  justify-self: center;
  align-self: center;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
.cashsalesidcolgridimg img {
  height: 80%;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.duesales {
  width: 100%;
  height: 50%;
  background-color: lavenderblush;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
}
.duesales::-webkit-scrollbar {
  width: 5px;
}
.duesales::-webkit-scrollbar-track {
  background: #f1f1ff;
}
.duesales::-webkit-scrollbar-thumb {
  background: #888;
}
.duesales::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.duesalesidhead {
  height: 8%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  align-items: center;
  background-color: lawngreen;
}
.duefrom {
  width: max-content;
  margin-left: 30%;
}
.dueto {
  width: max-content;
  margin-left: 30%;
}
.duesalesidheadtitle {
  font-size: 20px;
  font-weight: 600;
  width: max-content;
  margin-left: 10%;
}
.duesalesidsearch {
  border: none;
  width: 50%;
  height: 65%;
  background-color: #7cfc00;
  outline: none;
  color: black;
  border-bottom: 2px solid white;
  text-align: center;
  margin-left: 55%;
}
.duesalesidsearch::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 0.9; /* Firefox */
}
.dueexportbtn {
  background: white;
  width: max-content;
  padding: 2% 8%;
  font-weight: 600;
  margin-left: 55%;
}
.duesalesidhead2 {
  height: 7%;
  width: 100%;
  background-color: #e3dfed;
  display: grid;
  grid-template-columns: 4% 14% 11% 9% 9% 19% 18% 6% 10%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid white;
  background-color: #422a64;
  font-weight: 600;
  color: white;
  font-size: 20px;
}
.duesalesidlist {
  height: 7%;
  width: 100%;
}
.duesalesidcol {
  height: 100%;
  width: 100%;
  background-color: #e3d8ff;
  display: grid;
  grid-template-columns: 4% 14% 11% 9% 9% 19% 18% 6% 10%;
  grid-template-rows: 100%;
  border-bottom: 1px solid white;
}
.duesalesidcolgrid {
  justify-self: center;
  align-self: center;
}
.duesalesidcolgridimg {
  justify-self: center;
  align-self: center;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
.duesalesidcolgridimg img {
  height: 80%;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.fileuploadcontainer {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000070;
  justify-content: center;
  align-items: center;
}
.fileuploadform {
  position: fixed;
  height: 25%;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file {
  display: none;
}
.selectfile {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid rgb(154, 47, 255);
  border-radius: 5px;
  text-align: center;
  padding: 1% 3%;
  overflow: hidden;
}
.uploadbtn {
  font-size: 20px;
  font-weight: 600;
  margin-top: 3%;
  padding: 1% 1%;
  text-align: center;
  background-color: #43ff43;
  border-radius: 5px;
  border: 2px solid black;
}
.fileuploadformclose {
  position: fixed;
  right: 30.2%;
  top: 38%;
  height: 4%;
  z-index: 1;
}
.fileuploadformclose img {
  height: 100%;
  cursor: pointer;
}
.downloadcontainer {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000070;
  justify-content: center;
  align-items: center;
}
.downloadform {
  position: fixed;
  display: grid;
  grid-template-rows: 30% 70%;
  height: 20%;
  width: 30%;
  background-color: white;
}
.downloadtitle {
  font-size: 30px;
  font-weight: 600;
  align-self: center;
  justify-self: center;
  height: 100%;
}
.downloadlink {
  align-self: center;
  justify-self: center;
}
.downloadbtn {
  align-self: center;
  justify-self: center;
}
.downloadclose {
  position: fixed;
  top: 40%;
  right: 35%;
  height: 4%;
}
.downloadclose img {
  height: 100%;
  cursor: pointer;
}
.passwordchangecontainer {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000070;
  justify-content: center;
  align-items: center;
}
.passwordchangeform {
  position: fixed;
  display: grid;
  grid-template-rows: 50% 50%;
  height: 20%;
  width: 20%;
  background-color: white;
  box-sizing: border-box;
  padding: 1%;
}
.passwordchangefield {
  width: 70%;
  height: 40%;
  justify-self: center;
  align-self: center;
  outline: none;
  border: none;
  border-bottom: 3px solid #ddd;
  font-size: 25px;
}
.passwordchangeclose {
  position: fixed;
  right: 40%;
  top: 40%;
  height: 4%;
}
.passwordchangeclose img {
  height: 100%;
  cursor: pointer;
}
.passwordchangebtn {
  height: 70%;
  width: 50%;
  border-radius: 10px;
  background: #43ff43;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  border: 2px solid #000;
  cursor: pointer;
}
.popupcontainer {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00000070;
  justify-content: center;
  align-items: center;
}
.popupclose {
  position: fixed;
  height: 4%;
  top: 35.5%;
  right: 38%;
}
.popupclose img {
  height: 100%;
  cursor: pointer;
}
.popupbox {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  box-sizing: border-box;
  padding: 1%;
  height: 30%;
  width: 25%;
  background-color: white;
}
.popupcol {
  height: 80%;
  width: 80%;
  border: 2px solid #d6d6f7;
  align-self: center;
  justify-self: center;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 25% 60% 15%;
  grid-template-rows: 100%;
}
.popupcolleft {
  height: 100%;
  width: 100%;
  border-right: 2px solid #d6d6f7;
  display: grid;
  font-weight: 600;
  font-size: 20px;
  background: beige;
  justify-content: center;
  align-content: center;
}
.popupcolcenter {
  height: 100%;
  width: 100%;
  display: grid;
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
  align-content: center;
}
.popupcolright {
  height: 100%;
  width: 100%;
  border-left: 2px solid #d6d6f7;
  background: #dcebf5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  cursor: pointer;
}
.popupcolright img {
  width: 50%;
  align-self: center;
  justify-self: center;
}
@media only screen and (max-width: 450px) {
  html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .loginform{
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: #fff;
    height: 20%;
    width: 80%;
  }
  .logininput{
    justify-self: center;
    align-self: center;
    border: 2px solid #f00;
    height: 50%;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    outline: none;
    font-weight: 600;
  }
  .loginbtn{
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
    border: 3px solid #000;
    background: #43ff43;
    height: 60%;
    width: 40%;
    cursor: pointer;
  }
  .navbar {
    width: 100%;
    height: 5%;
    position: relative;
    top: 0;
    background: #422a64;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
  .leftnav {
    color: white;
    align-self: center;
    font-size: 25px;
    font-weight: 600;
    margin-left: 2%;
    width: max-content;
  }
  .rightnav {
    color: white;
    align-self: center;
    justify-self: end;
    font-size: 18px;
    letter-spacing: 1px;
    margin-right: 5%;
    padding: 0.5% 1.5%;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
  }
  .rightnav:hover {
    background: #6a489b;
  }
  .dropdown {
    position: fixed;
    height: 15%;
    width: 45%;
    top: 5%;
    right: 1%;
    background: #fff;
    border: 2px solid black;
    border-radius: 4%;
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  .passwordchange {
    border-bottom: 1px solid aqua;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
  }
  .passwordchange:hover {
    background: #422a64;
    color: white;
  }
  .uploaddata {
    border-bottom: 1px solid aqua;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
  }
  .uploaddata:hover {
    background: #422a64;
    color: white;
  }
  .backupdatabase {
    border-bottom: 1px solid aqua;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
  }
  .backupdatabase:hover {
    background: #422a64;
    color: white;
  }
  .logout {
    border-bottom: 1px solid aqua;
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
  }
  .logout:hover {
    background: #422a64;
    color: white;
  }
  .dbdownloadcontainer {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000070;
    justify-content: center;
    align-items: center;
  }
  .dbdownloadform {
    position: fixed;
    display: grid;
    grid-template-rows: 30% 70%;
    height: 20%;
    width: 80%;
    background-color: white;
  }
  .dbdownloadtitle {
    font-size: 30px;
    font-weight: 600;
    align-self: center;
    justify-self: center;
    height: 100%;
  }
  .dbdownloadlink {
    align-self: center;
    justify-self: center;
  }
  .dbdownloadbtn {
    align-self: center;
    justify-self: center;
  }
  .dbdownloadclose {
    position: fixed;
    top: 40%;
    right: 10%;
    height: 4%;
  }
  .dbdownloadclose img {
    height: 100%;
    cursor: pointer;
  }
  .notificationon {
    position: fixed;
    top: 0%;
    right: 10%;
    height: 5%;
    width: 78%;
    background: #1593ff;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    transition: 0.2s;
  }
  .notificationon img {
    height: 90%;
    width: 90%;
    align-self: center;
    justify-self: center;
  }
  .notification {
    position: fixed;
    top: -5%;
    right: 10%;
    height: 5%;
    width: 78%;
    background: #1593ff;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    transition: 0.2s;
  }
  .notification img {
    height: 90%;
    width: 90%;
    align-self: center;
    justify-self: center;
  }
  .notititle {
    text-align: center;
    font-size: 16px;
    align-self: center;
    font-weight: 600;
    color: white;
    align-self: center;
  }
  .submitandavailableidcontainer {
    height: 90%;
    width: 90%;
    display: inline-block;
    position: relative;
    left: 5%;
    top: 1%;
  }
  .submitidformcontainer {
    width: 100%;
    height: 40%;
    background: linear-gradient(
      180deg,
      rgba(24, 19, 111, 1) 0%,
      rgba(33, 33, 194, 1) 53%,
      rgba(24, 216, 255, 1) 100%
    );
    margin-bottom: 1%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14% 14% 14% 14% 12% 12% 20%;
  }
  .inputname::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 0.7; /* Firefox */
  }
  .inputmobile::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 0.7; /* Firefox */
  }
  .inputzone::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 0.7; /* Firefox */
  }
  .inputamount::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 0.7; /* Firefox */
  }
  .inputname {
    height: 60%;
    width: 70%;
    align-self: center;
    justify-self: center;
    background: none;
    border: none;
    border-bottom: 3px solid lawngreen;
    text-align: center;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
  }
  .inputmobile {
    height: 60%;
    width: 70%;
    align-self: center;
    justify-self: center;
    background: none;
    border: none;
    border-bottom: 3px solid lawngreen;
    text-align: center;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
  }
  .inputzone {
    height: 60%;
    width: 70%;
    align-self: center;
    justify-self: center;
    background: none;
    border: none;
    border-bottom: 3px solid lawngreen;
    text-align: center;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
  }
  .inputamount {
    height: 60%;
    width: 70%;
    align-self: center;
    justify-self: center;
    background: none;
    border: none;
    border-bottom: 3px solid lawngreen;
    text-align: center;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
  }
  .inputpaid {
    position: relative;
    height: 70%;
    width: 50%;
    background: #c6c6c6;
    -webkit-appearance: none;
    outline: none;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
  .inputpaid:checked {
    background: #03a9f4;
  }
  .inputpaid:before {
    content: "DUE";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    transition: 0.5s;
  }
  .inputpaid:checked:before {
    left: 50%;
    content: "PAID";
  }
  .sendsms {
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
  }
  .inputsms {
    height: 50%;
    width: 16%;
    align-self: center;
    justify-self: right;
  }
  .sendsmstitle {
    color: white;
    font-weight: 600;
    font-size: 25px;
    align-self: center;
    justify-self: left;
  }
  .sendbtn {
    padding: 1% 3%;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    background-color: #5bff00;
    color: black;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
  }
  .availableidcontainer {
    width: 98%;
    height: 59%;
    background-color: #f1f1ff;
    overflow: scroll;
    overflow-x: hidden;
    margin: 1%;
    border-radius: 10px;
  }
  .availableidcontainer::-webkit-scrollbar {
    width: 5px;
  }
  .availableidcontainer::-webkit-scrollbar-track {
    background: #f1f1ff;
  }
  .availableidcontainer::-webkit-scrollbar-thumb {
    background: #888;
  }
  .availableidcontainer::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .availableidhead {
    height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    background-color: lawngreen;
  }
  .availableidheadtitle {
    margin-left: 5%;
    font-size: 20px;
    font-weight: 600;
  }
  .availableidhead2 {
    height: 13%;
    width: 100%;
    background-color: #422a64;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 100%;
    align-items: center;
    color: wheat;
    font-weight: 600;
    font-size: 20px;
    justify-items: center;
    border-bottom: 1px solid white;
  }
  .availableidlist {
    height: 7%;
    width: 100%;
  }
  .availableidcol {
    height: 100%;
    width: 100%;
    background-color: #e3d8ff;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 100%;
    border-bottom: 1px solid white;
  }
  .availableidcolgrid {
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .availableidcolgridimg {
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
  
  .availableidcolgridimg img {
    height: 80%;
    align-self: center;
    justify-self: center;
  }
  .cashandduesalescontainer {
    width: 90%;
    height: 90%;
    display: inline-block;
    position: relative;
    left: 5%;
    top: 5%;
  }
  .cashsales {
    width: 98%;
    height: 48%;
    background-color: #e2ffde;
    margin: 1%;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: scroll;
  }
  .cashsales::-webkit-scrollbar {
    width: 5px;
  }
  .cashsales::-webkit-scrollbar-track {
    background: #f1f1ff;
  }
  .cashsales::-webkit-scrollbar-thumb {
    background: #888;
  }
  .cashsales::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .cashsalesidhead {
    height: 8%;
    width: 300%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    align-items: center;
    background-color: lawngreen;
  }
  .cashfrom {
    width: max-content;
    margin-left: 30%;
  }
  .cashto {
    width: max-content;
    margin-left: 30%;
  }
  .cashsalesidheadtitle {
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    margin-left: 10%;
  }
  .cashsalesidsearch {
    border: none;
    width: 50%;
    height: 65%;
    background-color: #7cfc00;
    outline: none;
    color: black;
    border-bottom: 2px solid white;
    text-align: center;
    margin-left: 55%;
  }
  .cashsalesidsearch::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 0.9; /* Firefox */
  }
  .cashexportbtn {
    background: white;
    width: max-content;
    padding: 2% 8%;
    font-weight: 600;
    margin-left: 55%;
  }
  .cashsalesidhead2 {
    height: 7%;
    width: 300%;
    background-color: #e3dfed;
    display: grid;
    grid-template-columns: 4% 14% 11% 10% 10% 19% 16% 6% 10%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid white;
    background-color: #422a64;
    font-weight: 600;
    color: white;
    font-size: 20px;
  }
  .cashsalesidlist {
    height: 10%;
    width: 300%;
  }
  .cashsalesidcol {
    height: 100%;
    width: 100%;
    background-color: #e3d8ff;
    display: grid;
    grid-template-columns: 4% 14% 11% 10% 10% 19% 16% 6% 10%;
    grid-template-rows: 100%;
    border-bottom: 1px solid white;
  }
  .cashsalesidcolgrid {
    justify-self: center;
    align-self: center;
  }
  .cashsalesidcolgridimg {
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
  .cashsalesidcolgridimg img {
    height: 80%;
    justify-self: center;
    align-self: center;
  }
  .duesales {
    width: 98%;
    height: 48%;
    background-color: lavenderblush;
    margin: 1%;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: scroll;
  }
  .duesales::-webkit-scrollbar {
    width: 5px;
  }
  .duesales::-webkit-scrollbar-track {
    background: #f1f1ff;
  }
  .duesales::-webkit-scrollbar-thumb {
    background: #888;
  }
  .duesales::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .duesalesidhead {
    height: 8%;
    width: 300%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    align-items: center;
    background-color: lawngreen;
  }
  .duefrom {
    width: max-content;
    margin-left: 30%;
  }
  .dueto {
    width: max-content;
    margin-left: 30%;
  }
  .duesalesidheadtitle {
    font-size: 20px;
    font-weight: 600;
    width: max-content;
    margin-left: 10%;
  }
  .duesalesidsearch {
    border: none;
    width: 50%;
    height: 65%;
    background-color: #7cfc00;
    outline: none;
    color: black;
    border-bottom: 2px solid white;
    text-align: center;
    margin-left: 55%;
  }
  .duesalesidsearch::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 0.9; /* Firefox */
  }
  .dueexportbtn {
    background: white;
    width: max-content;
    padding: 2% 8%;
    font-weight: 600;
    margin-left: 55%;
  }
  .duesalesidhead2 {
    height: 7%;
    width: 300%;
    background-color: #e3dfed;
    display: grid;
    grid-template-columns: 4% 14% 11% 10% 10% 19% 16% 6% 10%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid white;
    background-color: #422a64;
    font-weight: 600;
    color: white;
    font-size: 20px;
  }
  .duesalesidlist {
    height: 10%;
    width: 300%;
  }
  .duesalesidcol {
    height: 100%;
    width: 100%;
    background-color: #e3d8ff;
    display: grid;
    grid-template-columns: 4% 14% 11% 10% 10% 19% 16% 6% 10%;
    grid-template-rows: 100%;
    border-bottom: 1px solid white;
  }
  .duesalesidcolgrid {
    justify-self: center;
    align-self: center;
  }
  .duesalesidcolgridimg {
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
  .duesalesidcolgridimg img {
    height: 80%;
    justify-self: center;
    align-self: center;
  }
  .fileuploadcontainer {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000070;
    justify-content: center;
    align-items: center;
  }
  .fileuploadform {
    position: fixed;
    height: 15%;
    width: 85%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .file {
    display: none;
  }
  .selectfile {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid rgb(154, 47, 255);
    border-radius: 5px;
    text-align: center;
    padding: 1% 3%;
    overflow: hidden;
  }
  .uploadbtn {
    font-size: 20px;
    font-weight: 600;
    margin-top: 3%;
    padding: 1% 1%;
    text-align: center;
    background-color: #43ff43;
    border-radius: 5px;
    border: 2px solid black;
  }
  .fileuploadformclose {
    position: fixed;
    right: 8.2%;
    top: 43%;
    height: 4%;
    z-index: 1;
  }
  .fileuploadformclose img {
    height: 100%;
  }
  .downloadcontainer {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000070;
    justify-content: center;
    align-items: center;
  }
  .downloadform {
    position: fixed;
    display: grid;
    grid-template-rows: 30% 70%;
    height: 20%;
    width: 80%;
    background-color: white;
  }
  .downloadtitle {
    font-size: 30px;
    font-weight: 600;
    align-self: center;
    justify-self: center;
    height: 100%;
  }
  .downloadlink {
    align-self: center;
    justify-self: center;
  }
  .downloadbtn {
    align-self: center;
    justify-self: center;
  }
  .downloadclose {
    position: fixed;
    top: 40%;
    right: 10%;
    height: 4%;
  }
  .downloadclose img {
    height: 100%;
  }
  .passwordchangecontainer {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000070;
    justify-content: center;
    align-items: center;
  }
  .passwordchangeform {
    position: fixed;
    display: grid;
    grid-template-rows: 50% 50%;
    height: 20%;
    width: 90%;
    background-color: white;
    box-sizing: border-box;
    padding: 1%;
  }
  .passwordchangefield {
    width: 70%;
    height: 40%;
    justify-self: center;
    align-self: center;
    outline: none;
    border: none;
    border-bottom: 3px solid #ddd;
    font-size: 25px;
  }
  .passwordchangeclose {
    position: fixed;
    right: 5%;
    top: 40%;
    height: 4%;
  }
  .passwordchangeclose img {
    height: 100%;
    cursor: pointer;
  }
  .passwordchangebtn {
    height: 60%;
    width: 30%;
    border-radius: 10px;
    background: #43ff43;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    border: 2px solid #000;
    cursor: pointer;
  }
  .popupcontainer {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000070;
    justify-content: center;
    align-items: center;
  }
  .popupclose {
    position: fixed;
    height: 4%;
    top: 35.5%;
    right: 2%;
  }
  .popupclose img {
    height: 100%;
    cursor: pointer;
  }
  .popupbox {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    box-sizing: border-box;
    padding: 1%;
    height: 30%;
    width: 97%;
    background-color: white;
  }
  .popupcol {
    height: 80%;
    width: 80%;
    border: 2px solid #d6d6f7;
    align-self: center;
    justify-self: center;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 25% 60% 15%;
    grid-template-rows: 100%;
  }
  .popupcolleft {
    height: 100%;
    width: 100%;
    border-right: 2px solid #d6d6f7;
    display: grid;
    font-weight: 600;
    font-size: 20px;
    background: beige;
    justify-content: center;
    align-content: center;
  }
  .popupcolcenter {
    height: 100%;
    width: 100%;
    display: grid;
    font-weight: 600;
    font-size: 18px;
    justify-content: center;
    align-content: center;
  }
  .popupcolright {
    height: 100%;
    width: 100%;
    border-left: 2px solid #d6d6f7;
    background: #dcebf5;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    cursor: pointer;
  }
  .popupcolright img {
    width: 50%;
    align-self: center;
    justify-self: center;
  }
}
